<app-header [title]="`שאלה ${questionNum()}`"/>
<app-inner-layout>
  <div class="container">
    @if (isLoading()) {
      <app-loader/>
    } @else {
      @if (!showAnswer()) {
        <!-- Question text -->
        <div class="text-container">
          <span class="text">
            {{ question() }}
          </span>
        </div>

        <!-- Answer button -->
        <div class="button-container">
          <app-button (click)="showCorrectAnswer()" label="תשובה"/>
        </div>
      } @else {
        <!-- Answer text -->
        <div class="text-container">
          <span class="text">
            {{ answer() }}
          </span>
        </div>

        <!-- Next buttons -->
        <div class="button-container">
          <app-button 
            (click)="onNextQuestion(answerOptions.Correct)" 
            label="ידעתי" 
            [color]="buttonColor.Green"
          />
          <app-button 
            (click)="onNextQuestion(answerOptions.Incorrect)" 
            label="לא ידעתי" 
            [color]="buttonColor.Red"
          />
        </div>
      }
    }
  </div>
</app-inner-layout>